
.barRecherche{
    margin-top: 20%;
    margin-left: 30%;

}
.retourArriere{

    margin-top: 0.9%;

}
#barre{

}
body, html{
    width: 100%;
    height: 100%;

}
.ArrowIcon{
    display: inline;
    margin-right: 10px;

}
#hero{
    background-image: url("Pictures/Collection-national-flagsFade.png");
    opacity: 0.1;
    z-index: -1;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
}
#hero2{
    width: 100%;
    opacity: 0.5;
    z-index: -1;


}
#countryheader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#containercountry{
    position: absolute;
    display: flex;
    height: 52%;
    width: 50%;
    margin-left: 23%;


}
#research{
    background-color: #4e555b;
}
.heightsize{
    height: 50%;
}